# Structure gemini outputs with Pydantic

In [2]:
from google import genai
from pydantic import BaseModel

class Recipe(BaseModel):
    recipe_name: str
    description: str
    ingredients: list[str]

client = genai.Client()

response = client.models.generate_content(
    model="gemini-2.5-flash",
    contents="List a few asian soups recipes, a yummy description and list the ingredients",
    config={"response_mime_type": "application/json", "response_schema": list[Recipe]}
)

print(response.text)

[
  {
    "recipe_name": "Tom Yum Goong",
    "description": "A classic Thai hot and sour soup, bursting with aromatic herbs like lemongrass, galangal, and kaffir lime leaves, and filled with succulent shrimp. Its spicy kick and tangy notes create an unforgettable flavor experience that's both invigorating and comforting.",
    "ingredients": [
      "Shrimp",
      "Lemongrass",
      "Galangal",
      "Kaffir lime leaves",
      "Mushrooms",
      "Fish sauce",
      "Lime juice",
      "Chili paste",
      "Cherry tomatoes",
      "Cilantro"
    ]
  },
  {
    "recipe_name": "Shoyu Ramen",
    "description": "A deeply savory Japanese noodle soup featuring a rich soy-sauce-based broth, springy ramen noodles, tender slices of chashu pork, a perfectly jammy ajitama egg, and crisp nori, creating a symphony of textures and umami.",
    "ingredients": [
      "Ramen noodles",
      "Pork belly (for chashu)",
      "Soy sauce",
      "Mirin",
      "Sake",
      "Chicken or pork broth",
      "Eggs",
      "Green onions",
      "Nori seaweed",
      "Fish cake (narutomaki)",
      "Sesame oil"
    ]
  },
  {
    "recipe_name": "Pho Bo (Vietnamese Beef Noodle Soup)",
    "description": "A soul-warming Vietnamese beef noodle soup renowned for its incredibly fragrant and clear broth, slow-simmered with star anise, cinnamon, and ginger. Served with tender slices of beef, slippery rice noodles, and a vibrant array of fresh herbs and sprouts, it's a truly aromatic and satisfying meal.",
    "ingredients": [
      "Beef bones",
      "Beef chuck or brisket",
      "Rice noodles",
      "Onions",
      "Ginger",
      "Star anise",
      "Cinnamon sticks",
      "Cardamom pods",
      "Fish sauce",
      "Bean sprouts",
      "Thai basil",
      "Cilantro",
      "Lime wedges",
      "Jalapeño slices"
    ]
  }
]

In [4]:
recipes = response.parsed
len(recipes)

3

In [5]:
recipes[0].description

"A classic Thai hot and sour soup, bursting with aromatic herbs like lemongrass, galangal, and kaffir lime leaves, and filled with succulent shrimp. Its spicy kick and tangy notes create an unforgettable flavor experience that's both invigorating and comforting."

In [6]:
recipes[0].recipe_name

'Tom Yum Goong'

In [7]:
recipes[0].ingredients

['Shrimp',
 'Lemongrass',
 'Galangal',
 'Kaffir lime leaves',
 'Mushrooms',
 'Fish sauce',
 'Lime juice',
 'Chili paste',
 'Cherry tomatoes',
 'Cilantro']

## Simulate house prices

In [8]:
from typing import Literal

class Home(BaseModel):
    price: int 
    monthly_fee: int
    living_area: float 
    number_rooms: int 
    type: Literal["apartment", "house"]
    address: str 



response = client.models.generate_content(
    model = "gemini-2.5-pro",
    contents = """List 50 apartments and houses in Sweden with their monthly_fee, their price, living area, 
    number of rooms, address, type if it is apartment or house. 
    All currencies are in SEK. Data should be simulation of swedish housing""",
    config = {"response_mime_type": "application/json", "response_schema": list[Home]}
)


homes = response.parsed
homes

[Home(price=5250000, monthly_fee=3150, living_area=58.5, number_rooms=2, type='apartment', address='Sveavägen 45, 111 34 Stockholm'),
 Home(price=3100000, monthly_fee=2800, living_area=45.0, number_rooms=2, type='apartment', address='Linnégatan 22, 413 04 Göteborg'),
 Home(price=2500000, monthly_fee=3500, living_area=65.0, number_rooms=3, type='apartment', address='Davidshallsgatan 10, 211 45 Malmö'),
 Home(price=2800000, monthly_fee=2650, living_area=50.5, number_rooms=2, type='apartment', address='Svartbäcksgatan 30, 753 32 Uppsala'),
 Home(price=8500000, monthly_fee=4500, living_area=160.0, number_rooms=5, type='house', address='Björkvägen 8, 181 35 Lidingö'),
 Home(price=1950000, monthly_fee=1900, living_area=32.0, number_rooms=1, type='apartment', address='Storgatan 5, 903 26 Umeå'),
 Home(price=6200000, monthly_fee=3800, living_area=155.5, number_rooms=6, type='house', address='Ekollonvägen 14, 436 39 Askim'),
 Home(price=3400000, monthly_fee=3950, living_area=82.0, number_rooms=3, type='apartment', address='Ringvägen 100, 116 61 Stockholm'),
 Home(price=2100000, monthly_fee=3200, living_area=75.0, number_rooms=3, type='apartment', address='Klostergatan 12, 582 23 Linköping'),
 Home(price=4500000, monthly_fee=2900, living_area=130.0, number_rooms=5, type='house', address='Violvägen 3, 224 56 Lund'),
 Home(price=1750000, monthly_fee=2500, living_area=60.5, number_rooms=2, type='apartment', address='Drottninggatan 80, 702 22 Örebro'),
 Home(price=7800000, monthly_fee=4800, living_area=95.0, number_rooms=4, type='apartment', address='Karlavägen 70, 114 59 Stockholm'),
 Home(price=5100000, monthly_fee=3500, living_area=140.0, number_rooms=5, type='house', address='Äppelstigen 5, 756 51 Uppsala'),
 Home(price=4150000, monthly_fee=4200, living_area=88.5, number_rooms=4, type='apartment', address='Vasaplatsen 3, 411 26 Göteborg'),
 Home(price=2950000, monthly_fee=3800, living_area=78.0, number_rooms=3, type='apartment', address='Ribersborgsvägen 1, 217 53 Malmö'),
 Home(price=12500000, monthly_fee=5500, living_area=220.0, number_rooms=7, type='house', address='Strandvägen 15, 182 60 Djursholm'),
 Home(price=2300000, monthly_fee=2100, living_area=40.0, number_rooms=1, type='apartment', address='Sankt Larsgatan 8, 222 20 Lund'),
 Home(price=1850000, monthly_fee=2950, living_area=68.0, number_rooms=3, type='apartment', address='Kopparbergsgatan 15, 722 13 Västerås'),
 Home(price=3800000, monthly_fee=2800, living_area=125.0, number_rooms=4, type='house', address='Solrosvägen 11, 554 57 Jönköping'),
 Home(price=6900000, monthly_fee=4100, living_area=92.5, number_rooms=3, type='apartment', address='Götgatan 25, 116 46 Stockholm'),
 Home(price=3600000, monthly_fee=3300, living_area=110.0, number_rooms=5, type='house', address='Bergvägen 22, 981 32 Kiruna'),
 Home(price=2750000, monthly_fee=3650, living_area=72.0, number_rooms=3, type='apartment', address='Kungsportsavenyn 10, 411 36 Göteborg'),
 Home(price=1500000, monthly_fee=2300, living_area=55.5, number_rooms=2, type='apartment', address='Järnvägsgatan 19, 652 25 Karlstad'),
 Home(price=4900000, monthly_fee=3100, living_area=145.0, number_rooms=6, type='house', address='Parkvägen 7, 352 35 Växjö'),
 Home(price=9500000, monthly_fee=5200, living_area=110.0, number_rooms=4, type='apartment', address='Birger Jarlsgatan 50, 114 29 Stockholm'),
 Home(price=4300000, monthly_fee=4500, living_area=98.0, number_rooms=4, type='apartment', address='Föreningsgatan 32, 411 27 Göteborg'),
 Home(price=3200000, monthly_fee=2500, living_area=115.0, number_rooms=4, type='house', address='Skogsvägen 1, 974 31 Luleå'),
 Home(price=3150000, monthly_fee=3750, living_area=85.5, number_rooms=3, type='apartment', address='Västra Hamnen, 211 17 Malmö'),
 Home(price=5800000, monthly_fee=3400, living_area=170.0, number_rooms=6, type='house', address='Lindallén 9, 131 40 Nacka'),
 Home(price=2400000, monthly_fee=2900, living_area=52.0, number_rooms=2, type='apartment', address='Flogstavägen 6, 752 63 Uppsala'),
 Home(price=2000000, monthly_fee=3100, living_area=67.0, number_rooms=3, type='apartment', address='Kungsgatan 40, 602 20 Norrköping'),
 Home(price=6700000, monthly_fee=4200, living_area=180.0, number_rooms=7, type='house', address='Havsvägen 21, 432 52 Varberg'),
 Home(price=4800000, monthly_fee=3900, living_area=89.0, number_rooms=3, type='apartment', address='Hornsgatan 55, 118 49 Stockholm'),
 Home(price=1600000, monthly_fee=2000, living_area=35.5, number_rooms=1, type='apartment', address='Ågatan 22, 582 22 Linköping'),
 Home(price=3900000, monthly_fee=2700, living_area=120.0, number_rooms=4, type='house', address='Granbacksvägen 10, 191 43 Sollentuna'),
 Home(price=3300000, monthly_fee=4100, living_area=80.0, number_rooms=3, type='apartment', address='Erik Dahlbergsgatan 5, 411 26 Göteborg'),
 Home(price=2600000, monthly_fee=3400, living_area=70.0, number_rooms=3, type='apartment', address='Stora Södergatan 15, 222 23 Lund'),
 Home(price=7200000, monthly_fee=4500, living_area=190.0, number_rooms=6, type='house', address='Villa Gatan 1, 431 69 Mölndal'),
 Home(price=10500000, monthly_fee=6100, living_area=125.0, number_rooms=5, type='apartment', address='Strandvägen 5, 114 51 Stockholm'),
 Home(price=2200000, monthly_fee=3300, living_area=62.5, number_rooms=2, type='apartment', address='Tornavägen 9, 223 63 Lund'),
 Home(price=5500000, monthly_fee=3200, living_area=150.0, number_rooms=5, type='house', address='Torsgatan 8, 752 22 Uppsala'),
 Home(price=2900000, monthly_fee=3600, living_area=77.0, number_rooms=3, type='apartment', address='Nobelvägen 50, 214 33 Malmö'),
 Home(price=4000000, monthly_fee=4300, living_area=95.0, number_rooms=4, type='apartment', address='Fridhemsgatan 30, 112 40 Stockholm'),
 Home(price=3500000, monthly_fee=2600, living_area=135.0, number_rooms=5, type='house', address='Björkbacksvägen 4, 903 39 Umeå'),
 Home(price=4600000, monthly_fee=3850, living_area=85.0, number_rooms=3, type='apartment', address='Klippgatan 12, 414 59 Göteborg'),
 Home(price=14000000, monthly_fee=6000, living_area=250.0, number_rooms=8, type='house', address='Sjövägen 2, 133 34 Saltsjöbaden'),
 Home(price=1800000, monthly_fee=2800, living_area=65.0, number_rooms=2, type='apartment', address='Södra Förstadsgatan 40, 211 43 Malmö'),
 Home(price=8900000, monthly_fee=4900, living_area=105.0, number_rooms=4, type='apartment', address='Valhallavägen 100, 114 41 Stockholm'),
 Home(price=4200000, monthly_fee=3000, living_area=160.0, number_rooms=6, type='house', address='Stenhuggarvägen 7, 621 40 Visby'),
 Home(price=3700000, monthly_fee=3950, living_area=82.5, number_rooms=3, type='apartment', address='Dragarbrunnsgatan 50, 753 20 Uppsala')]

In [10]:
homes[0].price, homes[0].address

(5250000, 'Sveavägen 45, 111 34 Stockholm')

In [13]:
homes[0].__dict__

{'price': 5250000,
 'monthly_fee': 3150,
 'living_area': 58.5,
 'number_rooms': 2,
 'type': 'apartment',
 'address': 'Sveavägen 45, 111 34 Stockholm'}

In [15]:
import pandas as pd

df = pd.DataFrame(home.__dict__ for home in homes)
df.head()

,price,monthly_fee,living_area,number_rooms,type,address
0,5250000,3150,58.5,2,apartment,"Sveavägen 45, 111 34 Stockholm"
1,3100000,2800,45.0,2,apartment,"Linnégatan 22, 413 04 Göteborg"
2,2500000,3500,65.0,3,apartment,"Davidshallsgatan 10, 211 45 Malmö"
3,2800000,2650,50.5,2,apartment,"Svartbäcksgatan 30, 753 32 Uppsala"
4,8500000,4500,160.0,5,house,"Björkvägen 8, 181 35 Lidingö"

In [20]:
cheap_houses = df.query("price < 5_000_000 and type == 'house'")
cheap_houses

,price,monthly_fee,living_area,number_rooms,type,address
9,4500000,2900,130.0,5,house,"Violvägen 3, 224 56 Lund"
18,3800000,2800,125.0,4,house,"Solrosvägen 11, 554 57 Jönköping"
20,3600000,3300,110.0,5,house,"Bergvägen 22, 981 32 Kiruna"
23,4900000,3100,145.0,6,house,"Parkvägen 7, 352 35 Växjö"
26,3200000,2500,115.0,4,house,"Skogsvägen 1, 974 31 Luleå"
34,3900000,2700,120.0,4,house,"Granbacksvägen 10, 191 43 Sollentuna"
43,3500000,2600,135.0,5,house,"Björkbacksvägen 4, 903 39 Umeå"
48,4200000,3000,160.0,6,house,"Stenhuggarvägen 7, 621 40 Visby"

In [21]:
cheap_houses.to_csv("cheap_houses.csv", index=False)